<% @posts.each do |post| %>
  <div class="row">
    <div class="col-md-3 text-right"><%= post.user.username %></div>
    <div class="col-md-9">
      <div>
        <%= image_tag post.photo.feed.url %>
      </div>
      <%= post.description %>
    </div>
  </div>

<% end %>
